.conter{
    width: 100%;
    padding: 12px;
}
.topConter{
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px 0;
    &>button{
        margin: 10px 0;
        margin-right: 20px;
    }
}
.leftImg{
    width: 269px;
    background-size: contain;
    background-repeat: no-repeat;
}